---
title: Le Wagon - Middleman
---

<div id="home" style="background-image: url(images/paris.jpeg)">
  <div class="home-content">
    <p>
      Middleman iszasdasdasd now running!
    </p>
    <p class="about">
      <%= link_to "More about this template", "team.html" %>
    </p>
  </div>
</div>
